<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  <style>
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
      font-size: large;
    }
    .center-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
 }

  </style>
</head>

<body>
  <div class="container">
    <img src="https://github.com/ilanaseidl/refnew/blob/master/app/assets/images/home.png?raw=true" class=".img-fluid. max-width: 300%; and height: auto; center-block" alt="Welcome Image"></img>
  </div>
</div>
  <div class="container-fluid text-center">

    <div class="form-group" "form-control form-control-lg">
      <label for="email" class="input-group input-group-lg"><strong>Sign Up Here</strong></label>
      <%= form_with(model: @user, local: true, url: "/newsletter/sign_up/#{@id}") do |form| %>
      <%= form.text_field :email, :placeholder => "Enter Email", "size" => 100%>
      <div input="submit" value="Submit" class="btn-primary btn-lg">
        <%= form.submit %>
        <% end %>
      </div>
  </div>


<footer class="container-fluid text-center">
  <p>Refer your friends!</p>
</footer>

</body>

</html>
