<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #6c757d;
      padding: 10px;
      font-size: x-large;
    }
    .center-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .form-group-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 8em
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <img src="https://github.com/ilanaseidl/refnew/blob/master/app/assets/images/home.png?raw=true" class=".img-fluid. max-width: 300%; height:auto; min-width: 10%; center-block" alt="Welcome Image"></img>
  </div>
</div>
  <div class="container-fluid text-center">

    <div class="form-group-fluid" "form-control form-control-lg">

      <%= form_with(model: @user, local: true, url: "/newsletter/sign_up/#{@id}") do |form| %>
      <%= form.text_field :email, :placeholder => "Enter Email", "size" => 100%>
      <div input="submit" value="Submit" >
        <%= form.submit %>
        <% end %>
      </div>
  </div>

<footer class="container-fluid text-center">
  <p style="font-size:100px;color:black;">Refer your friends!</p>
</footer>

</body>
</html>