<!DOCTYPE html>
<html lang="en">
<body>
  <div class="form">
  <%= form_with(model: @user, local: true, url: "/newsletter/sign_up/#{@id}") do |form| %>
    <%= form.text_field :email, :placeholder => "Enter Email", "size" => 20%>
    <%= form.submit %>
  <% end %>
</body>
</html>
