<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 80%; /* Set width to 80% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://placehold.it/1200x400?text=IMAGE" alt="Image">
        <div class="carousel-caption">
          <h3>Share this link to win rewards:</h3>
          <p><%= "http://refnew.herokupp.com/newsletter/sign_up/#{params[:id]}" %></p>
        </div>
      </div>

  <p id="notice"><%= notice %></p>
  <head>
      <style>
        body {
          background: url('') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
          background-color: white;

            font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          }

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 700;

        }

        body::after {
          content: "";
          background: url("https://github.com/olivianye1/ROTSee/blob/master/app/views/cadets/ROTSee2.jpg?raw=true");
          opacity: 0.2;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
}

        /* Container holding the image and the text */
        .container {
          position: relative;
          text-align: center;
          color: black;
        }

        /* Centered text */
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .front-page {

          margin-bottom: 25px;
        }

        .features-icons {
          padding-top: 7rem;
          padding-bottom: 7rem;
        }

        .features-icons .features-icons-item {
          max-width: 20rem;
        }

        .features-icons .features-icons-item .features-icons-icon {
          height: 7rem;
        }

        .features-icons .features-icons-item .features-icons-icon i {
          font-size: 4.5rem;
        }

        .features-icons .features-icons-item:hover .features-icons-icon i {
          font-size: 5rem;
        }

        header.masthead {
          position: relative;
          background: url("https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-landing-page/master/img/bg-masthead.jpg") no-repeat center center;
          background-color: #343a40;
          background-size: cover;
          padding-top: 8rem;
          padding-bottom: 8rem;
        }

        header.masthead .overlay {
          position: absolute;
          background-color: #212529;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          opacity: 0.3;
        }

        header.masthead h1 {
          font-size: 2rem;
        }

        @media (min-width: 768px) {
          header.masthead {
            padding-top: 12rem;
            padding-bottom: 12rem;
          }
          header.masthead h1 {
            font-size: 3rem;
          }
        }

        footer.footer {
          padding-top: 4rem;
          padding-bottom: 4rem;
        }
      </style>
  </head>
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Share with friends. Grow your rewards!</h1>
        </div>
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="input-group">
                <div data-controller="clipboard">
                <input class="form-control" value="<%= "http://refnew.herokupp.com/newsletter/sign_up/#{params[:id]}" %>" data-target="clipboard.source"</input>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" data-action="clipboard#copy">Copy to Clipboard</button>
                </span>
            </div>
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h4 class="mb-5" style="color:white">Share your unique link via email or social networks and earn prizes for each friend who signs up!</h4>
            <div class="row">
              <div class="col-xl-9 mx-auto">
                <a href="http://facebook.com"><i class="fa fa-facebook m-auto" style="font-size: 210%;color: white;"></i>
                <a href="http://instagram.com"><i class="fa fa-instagram m-auto" style="font-size: 210%;color:white;"></i>
                <a href="http://twitter.com"><i class="fa fa-twitter m-auto" style="font-size: 210%;color: white;"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="features-icons bg-light text-center">
    <div class = "container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="d-flex justify-content-center">
          <h3 class="text-center">
            <h4>
              <strong>7 friends</strong>
            <span>have joined so far! Keep going.</span>
            </h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
    </div>
  </div>
      <div class="row">
        <div class="d-flex justify-content-center">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-gift m-auto text-primary"></i>
            </div>
            <h3>5</h3>
            <p class="lead mb-0">Prize 1</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">

              <i class="fa fa-gift m-auto text-primary"></i>
            </div>
            <h3>10</h3>
            <p class="lead mb-0">Prize 2</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-gift m-auto text-primary"></i>
            </div>
            <h3>15</h3>
            <p class="lead mb-0">Prize 3</p>
          </div>
        </div>
      </div>
    </div>

  <section class ="footer">
    <a href="https://github.com/ilanaseidl/refnew" style="font-sizeM 24px;">Learn more.</a>
    <br>
    <br>
  </section>

<div class="progress" style="height: 40px">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height: 40px; width: 35%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="20"><span class="sr-only">7 Referrals</span>7 Referrals</div>
</div>

<footer class="container-fluid text-center">
  <p>Refer your friends!</p>
</footer>

</body>
</html>
